body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./img/star-background.jpg") no-repeat fixed center;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Geostar|Michroma|Monoton');

@font-face {
  font-family: Starjout;
  src: url('fonts/starjout/Starjout.ttf');
}

/* font-family: 'Geostar', cursive;
font-family: 'Monoton', cursive;
font-family: 'Michroma', sans-serif; */