html {
  background: black url("./img/star-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Geostar|Michroma|Monoton');

@font-face {
  font-family: Starjout;
  src: url('fonts/starjout/Starjout.ttf');
}
